body { 
    background-image: url("images/background-phong-hop-da.jpg");
    height: auto;
    background-size: 100%;
    font-family: 'Times New Roman',sans-serif;
}
h1, h2{
    color: white; 
    background-color: black;
    font: bold;
    border-radius: 10px; 
    text-align: center; 
}
div{
    width: 60%;
    justify-self: center;
}
.content, #nhanxet-container {
    margin: 20px 0; 
    background-color: #fff; 
    padding: 10px; 
    box-shadow: 0 0 10px; 
}
.menu { 
    width: 100%;
    display: flex ; 
    background: #191919; 
    padding: 10px; 
    justify-content: center; 
    margin: -20px; 
}        

.menu a { 
    color: white; 
    text-decoration: none; 
    padding: 20px ; 
    transition: 0.4s; 
    font-size: 15px; 
}

.menu a:hover { 
    background: #1ba2eb;
    border-radius: 10px; 
 
}
footer { 
    background-color: black;
    color: white; 
    padding: 10px; 
    margin: 0 -20px 0; 
    text-align: center; 
}
form { 
    display: flex; 
    flex-direction: column; 
}
label { 
    margin: 10px 0 5px; 
}
input, textarea {
    font-family: 'Times New Roman',sans-serif;
    padding: 5px; 
    border: 1px  solid#c6c0c0; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}
button { 
    color: white; 
    background-color: black; 
    font-family: 'Aril',sans-serif;
    font: bold; 
    font-size: 15px;
    border: none; 
    border-radius: 7px; 
    padding: 5px; 
    cursor: pointer; 
}
.contact-info{ 
    margin: 10px ; 
    justify-self: left;
}


#ds-nhanxet {
    list-style-type: none;
    padding: 0;
}

#ds-nhanxet li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

